{{define "footer"}}
        <div class="card text-center bg-dark text-white">
            <div class="card-header">
            WebForge Technologies
            </div>
            <div class="card-body">
            <h5 class="card-title">CopyRight Chaker 2020</h5>
            <p class="card-text">Welcome to this web site</p>
            <a href="https://www.youtube.com/channel/UCUJGE6eXB1OXPXbx4CXzTPA" class="btn btn-primary">My Channel</a>
            </div>
            <div class="card-footer text-white">
            Yuso Fleet
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>
{{end}}