{{ define "content"}}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">GET /directions (routing calculate route) </h5>
        <p class="card-text">
          <ol>
            <li><span class="font-weight-bolder">Request query params: </span><br>
              <ul>
                <li>Provider: the provider name “google”|”here” </li>
                <li>Origin: GPS location for origin in this format “lat,lng” </li>
                <li>Destination:  GPS location for destination in this format “lat,lng” </li>
                <li>WithPath: boolean, if true return a list of the GPS coordinates of the path </li>
                <li>Traffic: boolean </li>
              </ul>
            </li>


            <li><span class="font-weight-bolder">Response json fields: </span><br>
              <ul>
                <li> DurationInTraffic: duration in seconds  </li>
                <li>Distance: distance in meters </li>
                <li>Duration </li>
                <li>Path: array of GPS coordinates </li>
              </ul>
            </li>
          </ol>
          
        </p>
        <a href="/direction" class="btn btn-primary">Give It A Try</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> GET /distance_matrix (routing calculateMatrix) </h5>
        <p class="card-text">
          <ol>
            <li><span class="font-weight-bolder">Request query params: </span><br>
              <ul>
                <li>Provider </li>
                <li>Origins </li>
                <li>Destinations</li>
                <li>Traffic: boolean </li>
              </ul>
            </li>


            <li><span class="font-weight-bolder">Response json fields: </span><br>
              <ul>
                <li> A 2D array of directions (without path): </li>
                <li>DurationInTraffic: duration in seconds </li>
                <li>Distance: distance in meters  </li>
                <li>Duration </li>
              </ul>
            </li>
          </ol>
          
        </p>
        <a href="/matrix" class="btn btn-primary">Give It A Try</a>
      </div>
    </div>

</div>

{{end}}