{{define "content"}}
<form method="POST" action="/matrix">
    <legend class="text-center font-weight-bolder">Request query params</legend>
    <hr>
    <!--Select the Provider-->
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0 font-weight-bold">Provider</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Here
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Google
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <hr>

    <!--Origin-->
    <div class="row">
    <legend>Origins :</legend>
        <div class="col">
        <input type="number" class="form-control" placeholder="Latitude">
        </div>
        <div class="col">
        <input type="number" class="form-control" placeholder="Longitude">
        </div>
    </div>

    <!--Destination-->
    <div class="row">
        <legend>Destinations :</legend>
            <div class="col">
            <input type="number" class="form-control" placeholder="Latitude">
            </div>
            <div class="col">
            <input type="number" class="form-control" placeholder="Longitude">
            </div>
    </div>

    <hr>

    <!--With Traffic Or Not-->
    <div class="form-group row">
        <div class="col-sm-2 font-weight-bold">Traffic</div>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Boolean
            </label>
          </div>
        </div>
      </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Response</button>
      </div>
    </div>
  </form>
{{end}}